/* Start font added */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;700;900&display=swap');

/* End font added */

*{
    margin: 0px;
    padding: 0px;
}

/* Start Header Section  */
header{
    margin: auto;
    padding: 80px 0px;
    background-color: #06829B;
}
 

.header-section {
    margin: auto;
    max-width: 1320px;
    background-image: url('images/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 220px 100px;
    border-radius: 20px;
}

.Small-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-title{
    width: 632px;
    color: #FFF;
    margin: auto;
    padding-top: 16px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}
/* End Header Section  */

/* Start Categories Section  */

.section {

    margin: auto;
    padding: 80px 0px;
    background-color: #06829B;
  
   
}

.categorise{

    width: 1320px;
    text-align: center;
    margin: auto;

}

.heading-65 {
    color: #240821;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-holiday {
    margin-top: 48px;
    color: #D8D4D5;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-categories {
    margin-top: 16px;
    color: #D8D4D5;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.new-year {
    margin-top: 48px;
    width: 802.9px;
    height: 500px;
}

/* End Categories Section  */

/* Start Welcome Section  */

 .section-2 {
    margin: auto;
    padding: 80px 0px;
    background-color: #F0E9F8;
    }

.container-welcome {
    width: 1320px;
    padding: 50px 100px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(images/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter:var(#151617)

}
.container-contant {
    justify-content: space-between;
    width: 60%;
    padding-right: 25px;
}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.container-contant, p {
    margin-top: 26px;
    color: #F0E9F8;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.container-img {
    width: 40%;
    padding-left: 25px;
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.container-contant, button {
    margin-top: 48px;
    padding: 10px 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
/* End Welcome Section  */